<div [style.color]="partyTime ? 'white' : 'black'">
  <h1 *ngIf="events.length == 1" >Our Next Event:</h1>
  <h1 *ngIf="events.length > 1">Upcoming Events:</h1>
  <h1 *ngIf="events.length == 0">Watch this space for our next event!</h1>
</div>

<mat-card *ngFor="let event of events" style="margin-bottom: 10px">
  <mat-card-header>
    <mat-card-title>{{event.title}}</mat-card-title>
    <mat-card-subtitle>{{event.description}}</mat-card-subtitle>
    <mat-card-subtitle>{{event.date | date: 'MMMM d, y, h:mm a z'}} </mat-card-subtitle>
  </mat-card-header>
  <ng-container *ngIf="event.timer | async as timer">
    <mat-card-content>
      <!--{{event.date | date: 'medium'}} <br> -->
      Coming up in {{timer.days}} Days, {{timer.hours}} Hours, {{timer.minutes}} Minutes, and {{timer.seconds}} Seconds
    </mat-card-content>
  </ng-container>
</mat-card>

